h1 { background-color: dimgrey;
    font-family:Impact; 
    color:black; }
body { background-image: url(https://i.pinimg.com/originals/1e/80/a3/1e80a3c3d3f6507d38563c09307e8f54.jpg); 
    font-size:medium; }
p { color: blanchedalmond;
    background-color: midnightblue;
    font-family:'Franklin Gothic Medium'; 
    font-size: large; }